.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 10px;
}

.report-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.report-button:hover {
  background-color: #0056b3;
}
